body {
    background-color: #e8edf1;
}
.khung {
    width: 1950px;
    height: 750px;
}
#logo img {
    width: 505px;
    height: 100px;
}
#kh {
    padding-left: 800px;
}


#login p {
    font-size: 25px;
}

#qc {
    width: 450px;
    height: 250px;
    float: left;
    padding-top: 80px;
    padding-left: 50px;
}

    #qc img {
        width: 900px;
        height: 500px;
    }
    
    
#regis {
    width: 450px;
    height: 700px;
    border: 2px solid ridge;
    border-radius: 10px;
    text-align:center;
    background-color: #ffffff;
    margin-left: 300px;
    float: left;
    padding-top: 10px;
}
#ul{
    list-style-type:none;
}
#regis h2 {
    font-size:36px;
    color: #0026ff;
    font-family: sans-serif;
}
#regis input {
    width: 300px;
    height: 55px;
    font-size:20px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid grey;
    padding-left: 20px;
}
#gioitinh {
    width:30px;
    height:30px;
    
}
    #gioitinh input {
        width: 30px;
        height: 30px;
        
    }

    #regis button {
        width: 290px;
        height: 48px;
        font-size:20px;
        margin-bottom: 10px;
        border-radius: 4px;
        border: 1px solid grey;
        background-color: #00ff37;
    }
    button:hover {
        font-size: 25px;
    }

